<div class="post-additional-info inline-items">
    
    <a href="#" class="post-add-icon inline-items">
        <svg class="olymp-heart-icon"><use xlink:href="#olymp-heart-icon"></use></svg>
        <span>{{likes}}</span>
    </a>

    <div class="comments-shared">
        <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-speech-balloon-icon"><use xlink:href="#olymp-speech-balloon-icon"></use></svg>
            <span>{{comments}}</span>
        </a>

        <a href="#" class="post-add-icon inline-items">
            <svg class="olymp-share-icon"><use xlink:href="#olymp-share-icon"></use></svg>
            <span>{{shared}}</span>
        </a>
    </div>


</div>
