<div class="post__author author vcard inline-items">

    <img [src]="avatar" alt="author">
        
    <div class="author-date">
        <a class="h6 post__author-name fn" href="#">{{author}}</a>
        <div class="post__date">
            <time class="published">
                {{published}}
            </time>
        </div>
    </div>

    <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
        <ul class="more-dropdown">
            <li>
                <a href="#">Edit Post</a>
            </li>
            <li>
                <a href="#">Delete Post</a>
            </li>
            <li>
                <a href="#">Turn Off Notifications</a>
            </li>
            <li>
                <a href="#">Select as Featured</a>
            </li>
        </ul>
    </div>



</div>

