<div class="post-video">
    <div class="video-thumb f-none">
        <iframe width="560" height="315" [src]="'https://www.youtube.com/embed/' + video.source | safe: 'resourceUrl'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            <!-- <svg class="olymp-play-icon"><use xlink:href="#olymp-play-icon"></use></svg> -->
        </iframe>
        <!-- <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
            <svg class="olymp-play-icon"><use xlink:href="#olymp-play-icon"></use></svg>
        </a> -->
    </div>
</div>

<!-- | safe: 'resourceUrl'" + '?ecver=1&modestbranding=1&rel=0'   -->