<ng-container [ngSwitch]="post.style">

    <!-- Estilo de texto unicamente-->
    <article class="hentry post has-post-thumbnail" *ngSwitchCase=1>
					
        <app-post-header [avatar]="post.avatar" [author]="post.author" [published]="post.published" ></app-post-header>
        
        <app-post-text [text]="post.text"></app-post-text>
    
        <app-post-footer [likes]="post.likes" [comments]="post.comments" [shared]="post.shared"></app-post-footer>
    
        <app-post-action-tools></app-post-action-tools>
    
    </article>


<!-- Estilo con texto y una imagen -->
<article class="hentry post has-post-thumbnail" *ngSwitchCase=2>
				
    <app-post-header [avatar]="post.avatar" [author]="post.author" [published]="post.published" ></app-post-header>

    <app-post-text [text]="post.text"></app-post-text>

    <app-post-image [image]="post.images[0]"></app-post-image>

    <app-post-footer [likes]="post.likes" [comments]="post.comments" [shared]="post.shared"></app-post-footer>

    <app-post-action-tools></app-post-action-tools>

</article>



<!-- Estilo con texto y video-->
    
    <article class="hentry post video" *ngSwitchCase=3>
    
        <app-post-header [avatar]="post.avatar" [author]="post.author" [published]="post.published" ></app-post-header>
    
        <app-post-text [text]="post.text"></app-post-text>
    
        <div class="post-video">
            <div class="video-thumb f-none">
                <img src="assets/img/video6.jpg" alt="photo">
                <a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
                    <svg class="olymp-play-icon"><use xlink:href="#olymp-play-icon"></use></svg>
                </a>
            </div>
        </div>
    
        <app-post-footer [likes]="post.likes" [comments]="post.comments" [shared]="post.shared"></app-post-footer>
    
        <app-post-action-tools></app-post-action-tools>
    
    </article>
    
<!-- Estilo con imagen de cabecera y texto-->
    <article class="hentry post has-post-thumbnail thumb-full-width" *ngSwitchCase=4>
				
        <app-post-header [avatar]="post.avatar" [author]="post.author" [published]="post.published" ></app-post-header>
    
        <app-post-image [image]="post.images[0]"></app-post-image>

    
        <!-- <a href="#" class="h2 post-title">My Perfect Vacations in South America and Europe</a> -->
    
        <app-post-text [text]="post.text"></app-post-text>
    
        <a href="#" data-toggle="modal" data-target="#blog-post-popup" class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Read More</a>
    
        <app-post-footer [likes]="post.likes" [comments]="post.comments" [shared]="post.shared"></app-post-footer>
    
        <app-post-action-tools></app-post-action-tools>
    
    </article>
    
<!--Estilo con lista de imagenes-->
    <article class="hentry post" *ngSwitchCase=5>
				
        <app-post-header [avatar]="post.avatar" [author]="post.author" [published]="post.published" ></app-post-header>
    
        <app-post-text [text]="post.text"></app-post-text>
    
        <div class="post-block-photo js-zoom-gallery">
            <a href="assets/img/post-photo1.jpg" class="half-width"><img src="assets/img/post-photo1.jpg" alt="photo"></a>
            <a href="assets/img/post-photo2.jpg" class="half-width"><img src="assets/img/post-photo2.jpg" alt="photo"></a>
            <a href="assets/img/post-photo3.jpg" class="col col-3-width"><img src="assets/img/post-photo3.jpg" alt="photo"></a>
            <a href="assets/img/post-photo4.jpg" class="col col-3-width"><img src="assets/img/post-photo4.jpg" alt="photo"></a>
            <a href="assets/img/post-photo5.jpg" class="more-photos col-3-width">
                <img src="assets/img/post-photo5.jpg" alt="photo">
                <span class="h2">+24</span>
            </a>
        </div>
    
        <app-post-footer [likes]="post.likes" [comments]="post.comments" [shared]="post.shared"></app-post-footer>
    
        <app-post-action-tools></app-post-action-tools>
    
    </article>







</ng-container>


