<li>

    <div class="author-thumb">
        <img src="assets/img/avatar15-sm.jpg" alt="author">
    </div>
    <div class="notification-event title-size">
        <span class="h6 notification-friend">Titulo de noticia</span>
        <span class="chat-message-item"> {{'estas podrian ser las primeras 20 palabras de la noticia que se está por mostrar' | letters:50}} </span>
    </div>

    <div class="notification-event">
        <span class="h6 notification-friend"></span>
        <span class="chat-message-item"></span>
    </div>

    <div class="notification-event">
        <span class="h6 notification-friend">Estado</span>
        <span class="chat-message-item">Publicado</span>
    </div>

    <div class="notification-event">
        <span class="h6 notification-friend">Fecha</span>
        <span class="chat-message-item">13/04/2020</span>
    </div>


    <span class="notification-icon">
        <button type="button" class="btn btn-blue btn-sm m-1 p-1" data-toggle="tooltip" data-placement="right" data-original-title="Editar">
            <i class="fad fa-edit"></i>
        </button>
        
        <button type="button" class="btn btn-danger btn-sm m-1 p-1" data-toggle="tooltip" data-placement="right" data-original-title="Borrar">
            
                <i class="fad fa-trash "></i>
            
        </button>

    </span>
    
    <!-- <div class="more">
        <svg class="olymp-three-dots-icon"><use xlink:href="#olymp-three-dots-icon"></use></svg>
        <svg class="olymp-little-delete"><use xlink:href="#olymp-little-delete"></use></svg>
    </div> -->

</li>